@use '@carbon/react/scss/reset';
@use '@carbon/react/scss/type';
@use '@carbon/react/scss/components/ui-shell';
@use '@carbon/react/scss/components/data-table';
@use '@carbon/react/scss/components/tag';

@use '@carbon/react/scss/components/button';

// OpenMRS Brand Colors
:root {
    --cds-interactive-01: #0f62fe;
}

body {
    background-color: #f4f4f4;
    font-family: 'IBM Plex Sans', sans-serif;
}

.cds--inline-notification__title {
    margin-bottom: 20px;
    display: block;
}